.container * {
  font-family: "Roboto";
  font-size: 2rem;
}
.container {
  border: 2vh solid rgba(137, 137, 138, 0.541);
  padding: none;
  margin: none;
  max-width: 1000px;
}
.hidden {
  display: none;
}
.home-bg {
  background: rgb(238, 226, 205);
  background: linear-gradient(170deg, #e15b5b 50%, #b1d0ae 50%);
  height: 96vh;
}
.cats-primary-bg {
  background-color: #e15b5b;
}
.dogs-primary-bg {
  background-color: #b1d0ae;
}
.home-bg button {
  width: 50%;
  height: 5rem;
  background: rgba(255, 255, 255, 0.521);
  border-radius: 35px;
  border: none;
  transition: width 0.5s;
}
.home-bg button:hover {
  width: 80%;
  transform: rotate(-11deg);
}
.cat-row {
  height: 35vh;
}
.dog-row {
  height: 35vh;
  padding-bottom: 2rem;
}
.cat-img {
  background-size: contain;
  background: center;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
.dog-img {
  background-size: contain;
  background: center;
  background-repeat: no-repeat;
  height: 80%;
  opacity: 1;
  transition: opacity 0.5s;
}
.dog-img,
.cat-img {
  border-radius: 50%;
  background-color: rgba(2, 2, 2, 0.3);
}

.cat-img:hover {
  transition: border-radius 0.5s;
  border-radius: 0%;
  opacity: 0.7;
  cursor: pointer;
}
.dog-img:hover {
  transition: border-radius 0.5s;
  border-radius: 0%;
  opacity: 0.7;
  cursor: pointer;
}
.vs {
  width: 100%;
  height: 12vh;
  background: linear-gradient(
    175deg,
    rgba(225, 91, 91, 0.4) 43%,
    rgba(177, 208, 174, 0.4) 43%
  );
  font-size: 28px;
}
.foot {
  height: 6vh;
}
header {
  height: 6vh;
}
.cat-select {
  font-size: 28px;
  position: absolute;
  top: 35%;
  visibility: hidden;
}
.dog-select {
  font-size: 28px;
  position: absolute;
  bottom: 30%;
  visibility: hidden;
}
.cat-img:hover .cat-select {
  visibility: visible;
  opacity: 1;
  background-color: #e15b5b88;
  font-weight: 500;
  padding: 1rem;
}
.dog-img:hover .dog-select {
  visibility: visible;
  opacity: 1;
  background-color: #b1d0ae8c;
  color: black;
  font-weight: 500;
  padding: 1rem;
}
.results {
  height: 90vh;
}
.dog-results {
  background-size: contain;
  background: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 1rem;
}
.cat-results {
  background-size: contain;
  background: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 1rem;
}
.duel-again {
  opacity: 0.8;
  background-color: white;
  border: none;
  border-radius: 1rem;
  width: 30%;
  height: 5vh;
  margin-left: 35%;
  font-size: 24px;
}
.duel-again:hover {
  cursor: pointer;
  opacity: 0.3;
}
